
   
   .btn__add{
    border:none;
    height: 40px;
    width: 100%;
    z-index: 7;
    color:white;
    background-color: rgb(45, 45, 45);
   }
   .basket {
    border:none;
    height: 40px;
    color:white;
    width: 100%;
    z-index: 7;
    background-color: rgb(45, 45, 45);
  }
  .btn__profile{
    border:none;
    height: 40px;
    color:white;
    width: 100%;
    z-index: 7;
    background-color: rgb(45, 45, 45);
  }
  .users {
    height: 40px;
    width: 100%;
    z-index: 7;
    border:none;
    color:white;
    background-color: rgb(45, 45, 45);
  }
  .notification {
    height: 40px;
    width: 100%;
    z-index: 7;
    border:none;
    color:white;
    background-color: rgb(45, 45, 45);
  }
  .LogIn {
    height: 40px;
    width: 100%;
    z-index: 7;
    border:none;
    color:white;
    background-color: rgb(45, 45, 45);
  }